*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{max-width: 1000px; margin: 0 auto;}
.col-1 {width: 100%;}
.col-3 {width: 100%;}
.col-4 {width: 100%;}
.col-6 {width: 100%;}
.col-9 {width: 100%;}
.col-12{width: 100%;}

/* ESPAÇAMENTOS PADDING */
.p-1 {padding: 1rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.p-4 {padding: 4rem;}

.pt-1 {padding-top: 1rem;}
.pt-2 {padding-top: 2rem;}
.pt-3 {padding-top: 3rem;}
.pt-4 {padding-top: 4rem;}

.pb-1 {padding-bottom: 1rem;}
.pb-2 {padding-bottom: 2rem;}
.pb-3 {padding-bottom: 3rem;}
.pb-4 {padding-bottom: 4rem;}

.pl-1 {padding-left: 1rem;}
.pl-2 {padding-left: 2rem;}
.pl-3 {padding-left: 3rem;}
.pl-4 {padding-left: 4rem;}

.pr-1 {padding-right: 1rem;}
.pr-2 {padding-right: 2rem;}
.pr-3 {padding-right: 3rem;}
.pr-4 {padding-right: 4rem;}

/* MARGENS MARGIN */
.m-1 {margin: 1rem;}
.m-2 {margin: 2rem;}
.m-3 {margin: 3rem;}
.m-4 {margin: 4rem;}

.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mt-4 {margin-top: 4rem;}

.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.mb-4 {margin-bottom: 4rem;}

.ml-1 {margin-left: 1rem;}
.ml-2 {margin-left: 2rem;}
.ml-3 {margin-left: 3rem;}
.ml-4 {margin-left: 4rem;}

.mr-1 {margin-right: 1rem;}
.mr-2 {margin-right: 2rem;}
.mr-3 {margin-right: 3rem;}
.mr-4 {margin-right: 4rem;}

/* .row{display: flex; gap: 0.5%; justify-content: space-between; width: 100%;} */
.row{ width: 100%;}

.display-1{font-size: 6em; font-weight: 100;}
.display-2{font-size: 5em; font-weight: 100;}
.display-3{font-size: 4em; font-weight: 100;}
.display-4{font-size: 3em; font-weight: 100;}
.display-5{font-size: 2em; font-weight: 100;}
.display-6{font-size: 1em; font-weight: 100;}

h1{font-size: 2.85em;}
h2{font-size: 2.25em;}
h3{font-size: 1.85em;}
h4{font-size: 1.25em;}
h5{font-size: 0.85em;}
h6{font-size: 0.5em;}

p{line-height: 1.65em;}

.align-left{text-align: left;}
.align-center{text-align: center;}
.align-right{text-align: right;}

a {text-decoration: none;}

img {max-width: 100%;}
.img-left{float: left;}
.img-right{float: right;}
.img-center{display: block; margin: 0 auto;}
.img-thumb{background-color: white; padding: 5px; border: 1px solid #333;}
.img-shadow{box-shadow: 3px 3px 5px #333;}


.btn-sm{font-size: 0.75em; background-color: rgb(246, 189, 4); padding: 8px 12px; color: #333; border-radius: 5px; display: inline-block;}
.btn-md{font-size: 1em; background-color: rgb(246, 189, 4); padding: 8px 12px; color: #333; border-radius: 5px; display: inline-block;}
.btn-lg{font-size: 2em; background-color: rgb(246, 189, 4); padding: 8px 12px; color: #333; border-radius: 5px; display: inline-block;}


/* FIM DAS PADRONIZAÇÕES */


body > header{background-color: #e3e3e3; display: flex; width: 100%; justify-content: space-between; align-items: center; }
h1{font-size: 1.8em;}
#menu {position: fixed; top: 0; right: 0; height: 100vh; width: 40vw; background-color: #333;}
#btn_menu {background-color: transparent; border: 0; cursor: pointer;}
#menu > ul {list-style: none; padding: 20px;}
#menu > ul > li >a {color: #fff; padding: 10px; display: block;}
#menu > ul > li >a:hover {background-color: #fff; color: #333;}

#home{background-image: url(../images/home.jpg); height: 100vh; background-size: cover; background-position: center; display: flex; justify-content: flex-start; align-items: center;}

#portifolio{min-height: calc(100vh - 90px);}
#portifolio div > a {display: block; margin-bottom: 15px;}

footer#contatos{ background-color: #333; color: #fff;}
footer#contatos a {color: #fff; text-decoration: underline;}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .col-sm-1 {width: 25%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 25%;}
    .col-sm-6 {width: 48%;}
    .col-sm-9 {width: 72%;}
    .col-sm-12{width: 100%;}
    .row{display: flex; gap: 0.5%; justify-content: space-between; flex-wrap: wrap; width: 100%;}

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .col-md-1 {width: 8.3333%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 31%;}
    .col-md-6 {width: 50%;}
    .col-md-9 {width: 72%;}
    .col-md-12{width: 100%;}

    #btn_menu{display: none;}
    #menu{display: block !important;}
    #menu {position: initial; height: auto; width: auto; background-color:transparent;}
    #menu > ul {list-style: none; padding: auto;}
    #menu > ul > li {display: inline-block;}
    #menu > ul > li > a {color: #333; padding: 10px; display: block;}
    #menu > ul > li >a:hover {background-color: #fff; color: #333;}

    #sobre{display: flex; gap: 5%;}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }